/* 
=== DESIGN SYSTEM ===

--- TYPOGRAPHY SYSTEM ---

- Font sizes (px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights: 
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights: 
Default: 1 
Medium: 1.2
Paragraph: 1.6

- Letter spacing
Headings: -0.5px
Sub-headings: 1.5px

--- COLORS ---

- PRIMARY COLOR: 
#e67e22 /

- TINTS:
#fdf2e9 / #fae5d3 

- SHADES: 
#cf711f / #45260a 

- ACCENTS: 

- GREYS: 
#444 / #333 / #ccc / #888
#6f6f6: lightest grey allowed on #fdf2e9

--- SHADOWS ---

--- BORDER RADIUS ---
Default: 8px 
Tags: 50px 

--- WHITESPACE ---

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


*/

/* GLOBAL STYLES */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(230, 125, 34, 0.5);
}

html {
  font-size: 62.5%;
}

body {
  font-family: "rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #444;
}

/* REUSABLE COMPONENTS */

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.4rem;
}

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}

.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}

.grid--center-v {
  align-items: center;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.list-item {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.list-icon {
  font-size: 2.4rem;
  color: #e67e22;
}

.list-item-description {
  font-size: 1.8rem;
}

.heading-primary,
.heading-secondary {
  font-weight: 700;
  line-height: 1;
  color: #333;
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1;
  color: #333;
  margin-bottom: 9.6rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 8.6rem;
}

.heading-tertiary {
  font-size: 3rem;
  margin-bottom: 2.4rem;
}

.sub-heading {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.6rem;
  color: #cf711f;
  letter-spacing: 1.5px;
  margin-bottom: 1.6rem;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  text-decoration: none;
  border: none;
  cursor: pointer;
  border-radius: 0.8rem;
  font-size: 2rem;
  transition: background-color 300ms, color 300ms, box-shadow 300ms;
}

.btn--full:link,
.btn--full:visited {
  background-color: #e67e22;
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  background-color: #cf711f;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;
  box-shadow: inset 0px 0px 0px 2px #fff;
}

.btn--form {
  background-color: #45260a;
  color: #fdf2e9;
  align-self: flex-end;
  padding: 1.2rem;
}

.btn--form:hover {
  background-color: #fff;
  color: #555;
}

.link:link,
.link:visited {
  text-decoration: none;
  color: #e67e22;
  border-bottom: 2px solid currentColor;
  padding-bottom: 3px;
  transition: color 300ms;
}

.link:hover,
.link:active {
  color: #cf711f;
  border-bottom: 1px solid transparent;
}

/* NAVBAR */

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fdf2e9;
  height: 9.6rem;
  padding: 0 4.8rem;
}

.logo {
  height: 2.2rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 3.2rem;
  align-items: center;
}

.main-nav__nav-item:link,
.main-nav__nav-item:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;
  color: #333;
  transition: color 300ms, background-color 300ms;
}

.main-nav__nav-item:hover,
.main-nav__nav-item:active {
  color: #cf711f;
}

.main-nav__nav-item.main-nav-cta:link,
.main-nav__nav-item.main-nav-cta:visited {
  display: inline-block;
  padding: 1.2rem 2.4rem;
  color: #fff;
  background-color: #e67e22;
  border-radius: 8px;
}
.main-nav__nav-item.main-nav-cta:hover,
.main-nav__nav-item.main-nav-cta:active {
  background-color: #cf711f;
}

/* HERO SECTION */

.hero-section {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}

.hero__description {
  font-size: 1.8rem;
  line-height: 1.6;
  font-weight: 500;
  margin-bottom: 4.8rem;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 3.2rem;
  display: grid;
  column-gap: 9.6rem;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.hero__image {
  width: 100%;
}

.customers {
  margin-top: 8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.customer-img {
  border: 3px solid #fdf2e9;
  border-radius: 50%;
  width: 4.8rem;
  height: 4.8rem;
  margin-right: -1.6rem;
}

.customer-img:last-of-type {
  margin-right: 0;
}

.customer-text {
  font-size: 1.6rem;
  font-weight: 500;
}

.customer-text span {
  color: #cf711f;
  font-weight: 700;
}

/* FEATURED-IN SECTION */

.featured-in-section {
  padding: 4.8rem 0 3.2rem 0;
  text-align: center;
}

.featured-in-heading {
  text-align: center;
  letter-spacing: 0.75px;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 2.4rem;
  color: #888;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.featured-in-logo {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 0.5;
}

/* HOW-IT-WORKS SECTION */

.img-col {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.img-col::before,
.img-col::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
}

.img-col::before {
  background-color: #fdf2e9;
  width: 70%;
  padding-bottom: 70%;
  z-index: -2;
}

.img-col::after {
  background-color: #fae5d3;
  width: 60%;
  padding-bottom: 60%;
  z-index: -1;
}

.how-section {
  padding: 9.6rem 3.2rem;
}

.step-number {
  font-size: 7.4rem;
  font-weight: 600;
  color: #ccc;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.6;
  color: #444;
}

.app-img {
  width: 40%;
}

/* MEALS SECTION */

.meals-section {
  padding: 9.6rem 0;
}

.meal-card {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 0.8rem;
  overflow: hidden;
  transition: transform 400ms, box-shadow 400ms;
}

.meal-card:hover {
  transform: translateY(-1rem);
  box-shadow: 0 24px 48px rgba(0, 0, 0, 0.075);
}

.card-img {
  width: 100%;
}

.card-container {
  padding: 2.4rem 3.2rem 3.2rem 3.2rem;
}

.meal-heading {
  font-size: 2.4rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 3.2rem;
}

.diets-area {
  align-self: flex-start;
}

.diets-heading {
  font-size: 2.4rem;
  font-weight: 500;
  color: #e67e22;
  margin-bottom: 4.8rem;
}

.diets-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.diets-list-item {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.diets-list-icon {
  font-size: 2.4rem;
  color: #e67e22;
}

.diets-list-description {
  display: inline-block;
  font-size: 1.8rem;
}

.diets-list-item {
  font-size: 1.6rem;
}

.meal-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.8rem;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  color: #333;
  font-size: 1.2rem;
  text-transform: uppercase;
  border-radius: 50px;
  font-weight: 600;
}

.tag--vegetarian {
  background-color: #69db7c;
}

.tag--vegan {
  background-color: #94d82d;
}

.tag--paleo {
  background-color: #ffe066;
}

.all-recipes {
  font-size: 1.8rem;
  text-align: center;
}

/* MISC & HELPER CLASSES */

.margin-right-sm {
  margin-right: 1.6rem !important;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

strong {
  font-weight: 500;
}

.center-text {
  text-align: center;
}

/* TESTIMONIAL SECTION */

.testimonials-section {
  background-color: #fdf2e9;
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}

.testimonials-container {
  padding: 9.6rem;
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.testimonial__customer-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial__text {
  font-size: 1.8rem;
  line-height: 1.6;
  margin-bottom: 1.6rem;
}

.testimonial__customer-name {
  font-size: 1.4rem;
  color: #6f6f6f;
}

.gallery {
  padding: 1.6rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
}

.gallery-item {
  overflow: hidden;
}

.gallery-photo {
  display: block;
  width: 100%;
  transition: transform 300ms;
}

.gallery-photo:hover {
  transform: scale(1.1);
}

/* PRICING SECTION */

.pricing-section {
  padding: 9.6rem 0;
}

.pricing {
  border-top-left-radius: 3.6rem;
  border-bottom-right-radius: 3.6rem;
  width: 80%;
}

.pricing--starter {
  justify-self: end;
  border: 2px solid #fdf2e9;
  padding: 4.6rem;
}

.pricing--complete {
  background-color: #fdf2e9;
  padding: 4.8rem;
  position: relative;
  overflow: hidden;
}

.pricing--complete::after {
  display: block;
  content: "best value";
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #444;
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
  top: 6%;
  right: -9%;
  transform: rotate(45deg);
  background-color: #ffe066;
  padding: 0.8rem 4.8rem;
}

.pricing__header {
  text-align: center;
  margin-bottom: 4.8rem;
}

.pricing__plan {
  display: block;
  font-size: 2.4rem;
  font-weight: 600;
  color: #cf711f;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-bottom: 3.2rem;
}

.pricing__fee {
  font-size: 3.6rem;
  margin-bottom: 1.6rem;
}

.price-number {
  font-size: 6.2rem;
}

.pricing__text {
  font-size: 1.4rem;
  color: #6f6f6f;
  line-height: 1.6;
}

.pricing__subscribe {
  text-align: center;
}

.plan-details {
  font-size: 1.6rem;
  line-height: 1.6;
  font-weight: 500;
  text-align: center;
}

.feature__title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.feature__icon {
  font-size: 3.2rem;
  color: #e67e22;
  margin-bottom: 3.2rem;
  position: relative;
  background-color: #fdf2e9;
  padding: 1.6rem;
  border-radius: 50%;
}

.feature__text {
  font-size: 1.8rem;
  line-height: 1.6;
}

/* CTA SECTION */

.cta-section {
  padding: 9.6rem 0;
}
.cta-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 0.8rem;
  overflow: hidden;
}

.cta-description {
  font-size: 1.8rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #45260a;
}

.cta-text-box .heading-secondary {
  margin-bottom: 3.2rem;
  color: inherit;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2.4rem;
  column-gap: 3.2rem;
}

.cta-form *:focus {
  outline: none;
  box-shadow: 0 0 0 0.4rem rgba(253, 242, 233, 0.5);
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.6rem;
  color: inherit;
  border-radius: 0.8rem;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  font-family: inherit;
  border: none;
  background-color: #fdf2e9;
}

.cta-form input::placeholder {
  color: #aaa;
}

.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 150, 76, 0.35),
      rgba(230, 125, 34, 0.35)
    ),
    url("../img/eating.jpg");
  background-size: cover;
  background-position: center;
}

.cta-button {
  border: none;
  background: transparent;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 500;
  width: 80%;
}

/* FOOTER */

.footer {
  padding: 7.4rem 0 3.6rem 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 4.8rem;
}

.social-icon {
  width: 2.4rem;
  height: 2.4rem;
  color: #cf711f;
}
